In [1]:
import os
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

In [7]:
with open("")

     Source  Target   Id  year
0         0      73    0  1988
1         0     107    1  1988
2         0     224    2  1987
3         0     285    3  1987
4         1       5    4  2002
..      ...     ...  ...   ...
726     270     274  726  2014
727     275     285  727  1987
728     278     285  728  1987
729     280     285  729  1987
730     281     286  730  1992

[731 rows x 4 columns]